.footer {
  box-shadow: 0rem -0.1rem 0.5rem rgba(0, 0, 0, 0.15);
  z-index: 100;
  position: relative;
  bottom: 0;
  padding: 4rem 0;
  text-align: center;
  background-color: #fff;
  #menu-top {
    background-color: #0090b2;
    height: 5rem;
    width: 4rem;
    border-radius: 0.3rem;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15%;
    #menu-top_inside {
      background-size: 1.8rem 1.1rem;
      background-position: 0 0;
      width: 1.8rem;
      height: 2.2rem;
      position: absolute;
      left: 1.1rem;
      top: 1.4rem;
      transition: background-position 0.3s linear 0s;
    }
    &:hover #menu-top_inside {
      animation: bottom_top 0.3s linear infinite;
    }
  }
  .icons {
    display: flex;
    margin: 1rem 0 2rem 0;
    width: 100%;
    justify-content: center;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      margin: 1rem;
      border: 0.2rem solid #222;
      border-radius: 50%;
      opacity: 0.5;
      transition: all 0.3s ease 0s;
      a {
        font-size: 1.5rem;
        color: #222;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  p {
    font-size: 1.4rem;
    font-weight: 500;
  }
}

@keyframes bottom_top {
  0% {
    background-position: 0rem 0rem;
  }
  100% {
    background-position: 0rem -1.1rem;
  }
}
