.home-content {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  z-index: 999;
  background-color: transparent;
  flex-direction: column;
  h1 {
    max-width: 1152px;
    word-break: keep-all;
    overflow: hidden;
    font-size: 70px;
    font-weight: 500;
    display: none;
    line-height: 80px;
    em {
      color: #0090b2;
      font-style: normal;
    }
    &.fadeIn {
      display: block;
    }
  }
  p {
    margin: 20px auto;
    font-size: 14px;
    font-weight: 700;
    span {
      margin: 0 10px;
      opacity: 0.9;
      color: #fff;
    }
  }
  .mission-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 3px;
    font-weight: 700;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease,
      opacity 0.3s ease-in-out, outline 0.3s ease;
    &:hover {
      background-color: #fff;
      color: #222;
    }
  }
}
